# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=52c87eff-e4e1-4968-bde5-c7e9ebda57c3

    # Set to true to disable all reporting
    B:opt-out=false
}


